<a href="https://colab.research.google.com/github/Ray-Yallop/Python-Course/blob/main/Copy_of_For_Loops_T%26C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# For Loops 

---

When you know how many times a loop should run you can use a *for* loop.  

Here is an example:  

Suppose we want to read 10 numbers from the keyboard, add them up and print the total. We can use a *for* loop as we know that we want to read from the keyboard exactly 10 times.

The logic is:

In [ ]:
21
# initialise a total so that it starts at 0
# read 10 numbers from the keyboard and keep a running total
# print the total

def read_ten_nums():
  total = 0
  for i in range(10):
    num = int(input("Enter a number"))
    total = total + num
  print(total)

read_ten_nums()

Enter a number5
Enter a number6
Enter a number7
Enter a number8
Enter a number9
Enter a number7
Enter a number6
Enter a number5
Enter a number4
Enter a number3
60

The *for* loop here repeats 10 times. Each time round the loop, a number is read and is added to the total. After this has happened 10 times, the total will be printed.

Notice that all the code to be repeated in the loop is indented, but the instruction to print is not indented like the lines above. This is because print(total) is not included in the loop, it should only run once.

You can use a *for* loop on Strings too:

In [ ]:
def print_characters():
  word = "learning"
  for letter in word:
    print(letter)
print_characters()

l
e
a
r
n
i
n
g

###Â Using the range() function:

If we would like a selection of numbers within a defined range we can use the **range()** function.

It can be used in the following ways:

* **range(n)** - this would give all numbers in the range 0 to n-1 

* **range(num1, num2)** - this would give all numbers in range num1 to num2-1

For example:

If we wanted numbers within the range of 1 - 5 we would write this as range(1, 6) 

* the second argument must always be the number you would like the range to go up to + 1 (n+1)

Here is an example that prints all the numbers up to 5, (starting at 0 as this is the default if there is no other information).  Run the code below:

In [ ]:
def show_range():
  for i in range(6):
    print(i)

show_range()

0
1
2
3
4
5

Here is an example that prints all numbers in range 1 - 5, run the code below:

In [ ]:
def show_range():
  for i in range(1, 6):
    print(i)

show_range()

1
2
3
4
5

## Using steps

In general, if we use a range, we give a starting number and a stopping number (the first number that is out of the range in the direction we are counting).  The default is to count up in 1s.  

When we want a loop to count in bigger steps, we can add a further parameter in the range brackets, which represents the size of the step.

e.g. to print the even numbers up to 10 (starting with the first even number)

```
for i in range(2,11,2):
   print(i)
```

e.g. to print all multiples of 5 from 5 to 50 (starting with the first multiple)


```
for i in range(5,51,5):
   print(i)
```

We can use steps to **reverse** the direction of counting.  So to count backwards from 10 to 1, we can use a step of -1.  Again, use the starting number, the number AFTER the last number to be included, in the direction we are counting, and the size and direction of the step. 

```
for i in range(10, 0, -1):
   print(i)
```

### Take home point

* we use *for* loops to make a section of code repeat a set number of times

---
### **Exercise 1 - number list**

Write a function called **list_numbers()** which will:  

*  print all the whole numbers up to 9  

Expected output:  
0  
1  
2  
3  
4  
5  
6  
7  
8  
9

In [ ]:
def get_list_numbers():
  for num in range(10):
    print(num)
get_list_numbers()

0
1
2
3
4
5
6
7
8
9

---
### **Exercise 2 - letter list**

Write a function called list_letters() which will:

* create a variable called word and assign the word "notices" to it
* use a for loop to print each letter on a separate line

Expected output:
```
n
o
t
i
c
e
s
```

In [ ]:
def get_list_numbers():
  word = "notices"
  for x in word:
    print(x)
get_list_numbers()

n
o
t
i
c
e
s

---
### **Exercise 3 - For loop on a list of items**

Write a function called categories() which will:

* create a list called **categories** and add the different categories you may find in the noticeboard app.  Each item in the list is separated with a comma (,) and is contained in speech marks (" ").
* use a for loop to print "One of the categories is: " plus each name in the list. 

Expected output:
```
One of the categories is: wellbeing
One of the categories is: Community News
```

In [ ]:
def get_categories():
  categories = ["wellbeing","Community News","Family Events"]
  for category in categories: 
    print("One of the categories is: " + category)
get_categories()

One of the categories is: wellbeing
One of the categories is: Community News
One of the categories is: Family Events

---
### **Exercise 4 - Count letters**

Type a code inside the for loop so that counter variable named **count** is increased by one each time loop iterates. 

Write a function called count_letters() which will:

* create a variable called word
* create a variable called count
* use a for loop to scroll throgh each letter in the word and add 1 to the count to identify how many letters are in that word.

**Expected output:**
```
**Test Input:**
Noticeboard

**Expected Output:**
11
```

In [ ]:
def get_count_letters(word):
  count = 0
  for letter in word:
    count = count + 1
  print(count)
get_count_letters("Noticeboard")

11

---
### NOTE

The following exercises will develop your knowledge and understanding of for loops, but will be based on integers rather than specific to the Noticeboard app.

---
### Exercise 5 - list evens  

Write a function called **list_evens()** which will:  

*  print the even numbers from 2 to 20  

Expected output:  
2  
4  
6  
8  
10  
12  
14  
16  
18  
20

In [ ]:
def Get_list_evens():
  for num in range(1,21):
    if num % 2 == 0:
      print(num)
Get_list_evens()

2
4
6
8
10
12
14
16
18
20

---
### Exercise 6 - list multiples  

Write a function called **list_multiples()** which will:

*  list the multiples of 3 from 3 to 36

Expected output:  
3  
6  
9  
12  
15  
18  
21  
24  
27  
30  
33  
36

In [ ]:
def Get_list_multiples():
  for num in range(3,37,3):
      print(num)
Get_list_multiples()

3
6
9
12
15
18
21
24
27
30
33
36

---
### Exercise 7 - reverse list

Write a function called list_reverse() which will: 

*  print the numbers 5 to 15 in reverse

Expected output:  
15  
14  
13  
12  
11  
10  
9  
8  
7  
6  
5

In [ ]:
def get_list_reverse():
   for num in range(15,4,-1):
      print(num)
get_list_reverse()

15
14
13
12
11
10
9
8
7
6
5

---
### Exercise 8 - sum of range

Write the function **calculate_sum_of()** which will:

*  set a total to 0
*  use the `range()` function for all the numbers between 1 - 15, adding each onto a **total** in the `for loop`     
*  print the `total`   


Expected output:  
120

In [ ]:
def get_calculate_sum_of():
  total = 0
  for num in range(1,16):
   total = total + num
  print(total)
get_calculate_sum_of()

120

### Exercise 9 - calculating the average of 5 numbers   

Write a function called **average()** which will:  

*  set a total to 0
*  ask the user to enter a number 5 times, using a `for loop` with a range and adding the numbers to the `total` as the loop continues  
*  calculate the **average** of the 5 numbers  
*  print the `total` and `average`  

Test input:  
1  
2   
3  
4  
5  

Expected output:   
3

In [ ]:
def get_average():
    total = 0
    count = 0
    for i in range(5):
      count = count + 1
      num = int(input("Enter a number " +str(count) + ": "))
      total = total + num
    average = total / count
    print("Total :"  + str(total))
    print("Average :" + str(round(average)))
get_average()

Enter a number 1: 1
Enter a number 2: 2
Enter a number 3: 3
Enter a number 4: 4
Enter a number 5: 5
Total :15
Average :3

###Â Exercise 10 - calculating times table

Write a function called **display_times_table()** which will:  

*  ask the user to input a **number**
*  use a for loop and the `range()` function to calculate the first ten multiples of that number and print a times table entry as shown below 

Test Input:  
4  

Expected output:  
1 x 4 = 4  
2 x 4 = 8  
3 x 4 = 12  
4 x 4 = 16  
5 x 4 = 20  
6 x 4 = 24  
7 x 4 = 28  
8 x 4 = 32  
9 x 4 = 36  
10 x 4 = 40

In [ ]:
def get_display_times_table():
    result =  0
    number = int(input("Enter number: "))
    for i in range(1,11):
      result = number *  i
      print(i, "X",number,"=", result) 
get_display_times_table()

Enter number: 4
1 X 4 = 4
2 X 4 = 8
3 X 4 = 12
4 X 4 = 16
5 X 4 = 20
6 X 4 = 24
7 X 4 = 28
8 X 4 = 32
9 X 4 = 36
10 X 4 = 40

### Exercise 11 - counting down numbers in reverse 

Write a function called **countdown()** which will:

*  ask the user to input a **number**
*  prints numbers in a countdown starting at `number`, decreasing by 1 each time round the loop and finishing at 1
*  after the loop, print ("GO") 

Test Input:  
9    

Expected output:   
9  
8  
7  
6  
5  
4  
3  
2  
1  
GO

In [ ]:
def get_countdown():
  number = int(input("Enter number: "))
  for i in range(number,0,-1):
    print(i)
  print("GO")
get_countdown()

Enter number: 9
9
8
7
6
5
4
3
2
1
GO