<a href="https://colab.research.google.com/github/Ray-Yallop/Python-Course/blob/main/Copy_of_Data_Types_2_T%26C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Types and Operators

---

# Changing Data Input Type
**Recap**:   

Integers are whole numbers and can be both positive or negative.  
Floats are decimal numbers which have a 'floating' decimal point (this is how they are stored in the computer's memory to keep them as small as possible but allow very large and very small numbers.  

It is important for the computer to know what type of data it is dealing with so that it allocates the right amount of memory and can check that your program does appropriate things with the data (you can add words together to make a sentence but if you add numbers together you want to get a bigger number).  

Variables are given a data type when they get their first value, so:  

name = "Monty"  (name will be a string variable)  
category = "Mental Health Support"  (category will be a string variable)  
views = 98 (views will be an integer variable)  
average_views = 248.27 (average_views will be a float variable)

Sometimes we want to change the data type of a variable.  For example:

If the program was sending a `message` to give data on the average number of views for notices in the Mental Health Support category it would ideally be something like this:

`On average, there were 248.27 views of notices in the Mental Health Support category`

This message would be created like this:  

`message = "On average, there were " + str(average_views) + " views of notices in the " + category + " category"`  

and printed like this:  

`print(message)`


By using *str()* the float variable `average_views` is converted to a string with the value "248.27".

---
### Exercise 1 - changing data type
Write a function called **print_average_views()** which will:  

*  create a new variable called **category** and assign it the value "Mental Health Support"
* create a new variable called **average_views** and assign it the value 248.27  
* create a new variable called **time** and assign it the value "month"
* print the message The `category` notice had an average of `average_views` views last `time`  

*Think about what the data type will be for each variable*   

### Test
If `category` is assigned "Mental Health Support", `average_views` is assigned 248.27 and `time` is assigned "month" the output will be:  
  
The Mental Health Support notice had an average of 248.27 views last month.

In [36]:
def print_average_views():
  # add code here
  category = "Mental Health Support"
  average_views = 248.27
  time =  "month"
  message = ( "The " + category + " notice had an average of " + str(average_views) + " views last " + time)
  print(message)

print_average_views()

The Mental Health Support notice had an average of 248.27 views last month

---
### Exercise 2 - boolean variables

A **boolean variable** can hold just two values, `True` or `False`.  This type of variable is hugely valuable in holding onto the state of things.  For example, a boolean variable called **logged_in** might hold `True` if the user is logged in and `False` otherwise.  This means that at any point while a program is running, it is possible to ask the question "Is the user logged in?".  The answer will depend on the value of the variable `logged_in`.  

Although we will use the values True and False as words, Python stores them as 1 for true and 0 for false.   

To demonstrate this, write a function called **show_true_false()** which will:  

*  create a variable called **logged_in** and assign it the value `True` (use the assignment operator **=** the same as usual)  
*  create a variable called **logged_in_as_num** and assign it the value `int(True)`  
*  print `logged_in` and `logged_in_as_num`

### Test 1
If `logged_in` is assigned the value `True` and `logged_in_as_num` is assigned the value `int(True)` the output will be::  

`True 1`

### Test 2
When you have run this, change `True` to `False` in both places in the code.

This time the output will be:  
`False 0`

In [48]:
def show_true_false():
# add code here
  logged_in = bool(1)
  logged_in_as_num  = bool(1)
  print(logged_in)
  print(logged_in_as_num)

  logged_in = bool(0)
  logged_in_as_num  = bool(0)
  print(logged_in)
  print(logged_in_as_num)

show_true_false()

True
True
False
False

---
### Exercise 3 - converting float to int

Write a function called **show_average_notices()** which will:  

*  create a variable called `average_notices` and assign it the value `153.85`
*  create a variable called `whole_average` and assign it the whole number part of `average_notices`, to do this use int(average_notices)  
*  print the message The average number of notices is `whole_average`  

### Test  
If `average_notices` was assigned 153.85 then the output will be:
  
The average number of notices is 153

In [50]:
def show_average_notices():
  # add code here
  average_notices = 153.35
  whole_average = int(average_notices)
  print(whole_average)

show_average_notices()

153

---
### Exercise 4 - converting int to string

Write a function called **format_date()** which will:

*  create a variable called **day** and assign it the value `9`  
*  create a variable called **month** and assign it the value `5`
*  create a variable called **year** and assign it the value `2023`  
*  create a string variable called **date** and assign it the value of str(`day`), "/", str(`month`), "/" and str(`year`) joined together
*  print the resulting date, including the / signs  

### Test  
If `day` is assigned the value `9`, `month` is assigned the value `5` and `year` is assigned the value `2023`, the output will be:
  
9/6/2023

In [53]:
def format_date():
  # add code here
    day = 9
    month = 5
    year = 2023
    date =(str(day) + "/" + str(month) + "/" + str(year))
    print(date)

format_date()

9/5/2023

---
### Exercise 5 - GPS locations

Write a function called **show_lat_lon()** which will:

*  create a variable called **lat** and assign it the value 51.367295  
*  create a variable called **lon** and assign it the value 0.504673
*  create a variable called **gps_location** and assign it the value `str(round(lat,2))`, "," , `str(round(lon,2))` joined together.  

###Test  
If `lat` is assigned `51.367295` and `lon` is assigned `0.506473` the output will be:  

51.37, 0.51

In [77]:
def show_lat_lon():
  # add code here
  lat =51.367295
  lon =0.504673
  gps_location = str(round(lat,2)) +","+ str(round(lon,2))
  print(gps_location)


show_lat_lon()

51.37,0.5